<div class="p-6 text-center bg-black">
  <div class="container">
    <div class="surface-900 text-0 p-2 mx-auto mb-4" style="max-width: 180px; border-radius: 40px">🔥 Now available</div>
    <div class="text-6xl text-white text-900 font-medium mb-1">iPhone 15 Pro Max</div>
    <div class="text-2xl font-regular text-white-alpha-80 mb-4">Titanium. So strong. So light. So pro.</div>
    <p-button class="text-xl mr-4 font-regular" label="Buy now"></p-button>
    <p-button label="Other iPhones" [outlined]="true"></p-button>

    <img src="assets/images/iphone-15-pro-max.webp" alt="Image" class="block mx-auto mt-6 w-full" style="margin-bottom:-3rem">
  </div>
</div>
