<header class="surface-border border-1 border-top-none">
    <div class="container surface-section">
        <div class="surface-overlay px-3 sm:px-6 flex align-items-stretch relative" style="min-height: 80px">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-mobile lg:mr-3 text-3xl"></i>
                <span class="text-xl font-semibold">Phone Store</span>
            </div>
            <div class="flex ml-auto">
                <ul class="list-none p-0 m-0 flex">
                    <li class="flex">
                        <a pRipple class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary">
                            <span class="hidden lg:inline">iPhone</span>
                        </a>
                    </li>
                    <li class="flex">
                        <a pRipple class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary">
                            <span class="hidden lg:inline">Samsung</span>
                        </a>
                    </li>
                    <li class="flex">
                        <a pRipple class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary">
                            <span class="hidden lg:inline">Huawei</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex ml-auto">
                <ul class="list-none p-0 m-0 flex">
                    <li class="flex">
                        <a pRipple class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary">
                            <i class="pi pi-shopping-cart lg:mr-3 text-2xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>